.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 640px;
}

.div-number {
    height: 36px;
    width: 36px;
    border: 1px black solid;
}